<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
    <link th:href="@{/sb-admin/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/sb-admin/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet">
    <link th:href="@{/sb-admin/css/sb-admin.css}" rel="stylesheet">
</head>

<body class="bg-dark">

<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">Admin</div>
        <div class="card-body">
            <p class="card-text" th:text="${userName + '(' + userEmail + ')'}"></p>

            <form th:action="@{/logout}" method="get">
                <button class="btn btn-md btn-danger btn-block" name="registration" type="Submit">Logout</button>
            </form>
        </div>
    </div>
</div>

<script th:src="@{/sb-admin/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/sb-admin/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>
</html>