<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
    <link th:href="@{/sb-admin/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/sb-admin/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet">
    <link th:href="@{/sb-admin/css/sb-admin.css}" rel="stylesheet">
</head>
<body class="bg-dark">
<form th:action="@{/}" method="get">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Login Page</button>
</form>

<div class="container">
    <div class="card card-register mx-auto mt-5">
        <div class="card-header">Register an Account</div>
        <div class="card-body">
            <form autocomplete="off" action="#" th:action="@{/registration}"
                  th:object="${user}" method="post" class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="form-label-group">
                        <input type="text" id="email" th:field="*{email}" placeholder="Email" class="form-control" required="required"/>
                        <label for="email">Email</label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-label-group">
                        <input type="text" id="name" th:field="*{name}" placeholder="Name" class="form-control" required="required"/>
                        <label for="name">Name</label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-label-group">
                        <input type="password" id="password" th:field="*{password}" placeholder="Password" class="form-control" required="required"/>
                        <label for="password">Password</label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-label-group">
                        <input type="password" id="password-verify" th:field="*{passwordVerify}" placeholder="Confirm Password" class="form-control" required="required"/>
                        <label for="password-verify">Confirm Password</label>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Register User</button>
                </div>

                <div class="form-group">
                    <div class="alert alert-success" th:if="${success}" th:text="${successMessage}"></div>
                    <div class="alert alert-danger" th:unless="${success}" th:each="err : ${errorMessages}" th:text="${err}"></div>
                </div>

            </form>
        </div>
    </div>
</div>

<script th:src="@{/sb-admin/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/sb-admin/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/sb-admin/vendor/jquery-easing/jquery.easing.min.js}"></script>

</body>
</html>